*
!sample.env
!docker-compose.sample.yml
!.gitignore
!README.md

!db
db/*
!db/.gitkeep

!sites
sites/*
!sites/.gitkeep

!php7.3
php7.3/*
!php7.3/Dockerfile

!wp5.3-xsl
wp5.3-xsl/*
!wp5.3-xsl/Dockerfile
