*
!sample.env
!docker-compose.sample.yml
!.gitignore
!README.md

!db
db/*
!db/.gitkeep

!sites
sites/*
!sites/.gitkeep

!dockerfiles-sample
dockerfiles-sample/*
!dockerfiles-sample/php7.3
dockerfiles-sample/php7.3/*
!dockerfiles-sample/php7.3/Dockerfile

!dockerfiles-sample/wp5.3-xsl
dockerfiles-sample/wp5.3-xsl/*
!dockerfiles-sample/wp5.3-xsl/Dockerfile

!dockerfiles-sample/wp5.4-xdebug
dockerfiles-sample/wp5.4-xdebug/*
!dockerfiles-sample/wp5.4-xdebug/Dockerfile
