version: '3'
services:
  db:
    container_name: db
    image: mariadb:latest
    ports:
        - '3306:3306'
    restart: unless-stopped
    volumes:
        - ./db:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}

  # wp正式環境的參考設定
  wp1:
    depends_on:
      - db
      - redis
    container_name: wp1
    image: wordpress:5.4.2-php7.4
    restart: unless-stopped
    volumes:
      - ./sites/wp1/wordpress:/var/www/html
      # - ./sites/wp1/conf.d/uploads.ini:/usr/local/etc/php/conf.d/uploads.ini
      # - ./sites/wp1/apache2/sites-enabled:/etc/apache2/sites-enabled/
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_NAME: wp1
      WORDPRESS_DB_PASSWORD: ${MYSQL_ROOT_PASSWORD} 
      WORDPRESS_TABLE_PREFIX: wp1_
      WORDPRESS_DEBUG: 0
      VIRTUAL_HOST: wp1.test
      LETSENCRYPT_HOST: wp1.test
      LETSENCRYPT_EMAIL: my@email.adds
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  redis:
    restart: always
    image: redis:latest
    volumes:
      - ./sites/wp1/redis:/data

  # wp開發環境的參考設定
  wp2:
    depends_on:
      - db
    container_name: wp2
    image: wordpress:5.4.2-php7.4
    # build: ./dockerfiles-sample/wp5.4-xdebug
    restart: unless-stopped
    volumes:
      - ./sites/wp2/wordpress:/var/www/html
      # - ./sites/wp2/conf.d/uploads.ini:/usr/local/etc/php/conf.d/uploads.ini
      # - ./sites/wp2/apache2/sites-enabled:/etc/apache2/sites-enabled/
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_NAME: wp2
      WORDPRESS_DB_PASSWORD: ${MYSQL_ROOT_PASSWORD} 
      WORDPRESS_TABLE_PREFIX: wp2_
      WORDPRESS_DEBUG: 1
      WORDPRESS_CONFIG_EXTRA: |
        // Enable Debug logging to the /wp-content/debug.log file
        define( 'WP_DEBUG_LOG', true );
        // Disable display of errors and warnings
        define( 'WP_DEBUG_DISPLAY', false );
        define( 'SCRIPT_DEBUG', true );
        @ini_set( 'display_errors', 0 );
      # XDEBUG_CONFIG: remote_host=wp2.test
      VIRTUAL_HOST: wp2.test
      # LETSENCRYPT_HOST: wp2.test
      # LETSENCRYPT_EMAIL: my@email.adds
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  cli-for-wp2:
    image: wordpress:cli
    volumes:
      - ./sites/wp2/wordpress-core:/var/www/html/

  composer:
    image: composer/composer
    container_name: wp2-composer
    working_dir: /var/www/html
    restart: "no"
    volumes:
      - ./sites/wp2/wordpress-core:/var/www/html:rw,cached

  # php 網站設定 (apache 支援 rewrite 及安裝 PDO，與 Laravel 環境相容)
  phpweb:
    build: ./dockerfile-sample/php7.3
    container_name: phpweb
    depends_on:
      - db
    volumes:
      - ./sites/phpweb/www:/var/www/html/
      - ./sites/phpweb/apache2/sites-enabled:/etc/apache2/sites-enabled/
    environment:
      VIRTUAL_HOST: phpweb.test
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    #stdin_open: true
    #tty: true

  mailcatcher:
    image: schickling/mailcatcher
    ports:
      - "1025:1025"
      - "1080:1080"
    environment:
      MAILCATCHER_PORT: 1025

networks:
    default:
      external:
        name: wp-proxy